#game {
  position: absolute;
  background: blue;
}

.card {
  display: inline-block;
  position: relative;
  background: red;
  width: 390px;
  height: 548px;
  color: white;
  box-shadow: 5px 5px 9px rgba(0,0,0,0.3);
  border-radius: 44px;
  transform: translate(-40%, -40%) scale(0.2, 0.2);
  transition: 0.05s ease-out;
  margin-right: -312px;
  margin-bottom: -438px;
  z-index: 0;
}

.card.selected {
  /* position: absolute; */
  transition: 0.05s ease-out;
  transform: translate(0, 0) scale(1.0, 1.0);
  z-index: 100;
}

.card.power {
  background-image: url(cards/power.png);
}

.card.power.agl-5  { background-position: -48px      0px; }
.card.power.int-1  { background-position: -442px     0px; }
.card.power.int-2  { background-position: -836px     0px; }

.card.power.int-3  { background-position: -48px   -551px; }
.card.power.int-4  { background-position: -442px  -551px; }
.card.power.int-5  { background-position: -836px  -551px; }

.card.power.move-1 { background-position: -48px  -1102px; }
.card.power.move-2 { background-position: -442px -1102px; }
.card.power.move-3 { background-position: -836px -1102px; }

.card.power.str-1  { background-position: -48px  -1653px; }
.card.power.str-2  { background-position: -442px -1653px; }
.card.power.str-3  { background-position: -836px -1653px; }

.card.power.str-4  { background-position: -48px  -2204px; }
.card.power.str-5  { background-position: -442px -2204px; }
.card.power.agl-1  { background-position: -836px -2204px; }

.card.power.agl-2  { background-position: -48px  -2755px; }
.card.power.agl-3  { background-position: -442px -2755px; }
.card.power.agl-4  { background-position: -836px -2755px; }
