body {
  margin: 0px;
  padding: 0px;
}

[draggable] {
  user-select: none;
}

#game {
  position: absolute;
  background: lightblue;
  width: 100%;
  height: 100%;
}

.card {
  transform-style: preserve-3d;
  display: inline-block;
  position: relative;
  background-color: black;
  width: 78px;
  height: 110px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  border-radius: 9px;
  /* so the back will show when flipped */
  transition: 0.05s ease-out;
  z-index: 0;
  background-size: 330%;
}

.card:after {
  visibility: hidden;
  content: '';
  position: absolute;
  border-radius: 9px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  background-size: 101%;
}

.card.face-down:after {
  visibility: visible;
}

.card.selected {
  position: fixed;
  width: 390px;
  height: 550px;
  top: 50%;
  left: 50%;
  margin-left: -195px;
  margin-top: -275px;
  transition: 0.10s ease-out;
  /* transform: scale(5.0, 5.0); */
  z-index: 100;
}

.card.rot-90 {
  transform: rotate( 90deg );
}

.card.rot-180 {
  transform: rotate( 180deg );
}

.card.rot-270 {
  transform: rotate( 270deg );
}

.card.power {
  background-image: url(cards/power.png);
}
.card.power:after {
  background-image: url(cards/power-back.png);
}

.stack {
  display: inline-block;
  width: 79px;
  height: 110px;
  border-radius: 9px;
  border: solid black 3px;
  margin: 5px;
  padding: 2px;
}

.stack .card {
  display: none;
}

.stack .card:first-child {
  display: block;
}

.stack.face-down .card:first-child:after {
  visibility: visible;
}

.stack.stack-hover {
  border: solid yellow 3px;
}

.card.power.agl-5  { background-position: -10px     0px; }
.card.power.int-1  { background-position: -90px     0px; }
.card.power.int-2  { background-position: -170px    0px; }

.card.power.int-3  { background-position: -10px  -112px; }
.card.power.int-4  { background-position: -90px  -112px; }
.card.power.int-5  { background-position: -170px -112px; }

.card.power.move-1 { background-position: -10px  -223px; }
.card.power.move-2 { background-position: -90px  -223px; }
.card.power.move-3 { background-position: -170px -223px; }

.card.power.str-1  { background-position: -10px  -334px; }
.card.power.str-2  { background-position: -90px  -334px; }
.card.power.str-3  { background-position: -170px -334px; }

.card.power.str-4  { background-position: -10px  -446px; }
.card.power.str-5  { background-position: -90px  -446px; }
.card.power.agl-1  { background-position: -170px -446px; }

.card.power.agl-2  { background-position: -10px  -557px; }
.card.power.agl-3  { background-position: -90px  -557px; }
.card.power.agl-4  { background-position: -170px -557px; }
